---
import Base from '../layouts/Base.astro';
---

<Base title="Play">
  <div class="page-header">
    <h1>Play</h1>
    <div class="tagline" data-typewriter-lines>
      <div data-line>Coming soon.</div>
    </div>
  </div>
</Base>
