---
import Base from '../layouts/Base.astro';
---

<Base title="Academic">
  <div class="page-header">
    <h1>Academic</h1>
    <p class="subtitle">Machine Learning &middot; Optimization &middot; Structured Prediction</p>
  </div>

  <div class="content-section">
    <h2>Education</h2>
    <ul>
      <li><strong>Ph.D in Machine Learning</strong> &mdash; <a href="https://www.aalto.fi/en" target="_blank">Aalto University</a>, Department of Computer Science, 2012&ndash;2015</li>
      <li><strong>PostDoc</strong> &mdash; <a href="https://research.cs.aalto.fi/hiit/" target="_blank">Helsinki Institute for Information Technology HIIT</a> & Aalto, 2015&ndash;2016</li>
      <li><strong>M.Sc in Computer Science</strong> &mdash; <a href="https://www.helsinki.fi/en" target="_blank">University of Helsinki</a>, 2008&ndash;2010</li>
      <li><strong>B.Eng</strong> &mdash; <a href="https://en.xidian.edu.cn/" target="_blank">Xidian University</a>, China, 2007</li>
    </ul>
  </div>

  <div class="content-section">
    <h2>Research Interests</h2>
    <ul>
      <li>Optimization Research and Machine Learning</li>
      <li>Structured Output Prediction / Kernel Methods</li>
      <li>Social Network Analysis / Bioinformatics / Metagenomics</li>
      <li>Deep Learning / Large Scale Learning / Distributed Optimization</li>
    </ul>
  </div>

  <div class="content-section">
    <h2>Publications</h2>

    <h3>Industry Publications</h3>
    <p>
      Cambri. <strong>AI Whitepaper</strong>. Cambri, 2024.
      [<a href="https://www.cambri.io/resources/ai-whitepaper" target="_blank">read</a>]
    </p>

    <h3>Journal Articles</h3>
    <p>
      Su, Hongyu; Rousu, Juho. <strong>Multilabel Classification through Random Graph Ensembles</strong>. <em>Machine Learning</em>, Volume 99, Issue 2 (2015), Page 231-256, DOI: 10.1007/s10994-014-5465-9.
      [<a href="http://link.springer.com/article/10.1007/s10994-014-5465-9" target="_blank">online</a>]
      [<a href="/files/pubs/su14b_authorcopy.pdf">preprint</a>]
    </p>

    <h3>Doctoral Dissertation</h3>
    <p>
      Su, Hongyu. <strong>Multilabel Classification through Structured Output Learning &mdash; Methods and Applications.</strong> Doctoral Dissertation, Aalto University School of Science, Feb 2015.
      [<a href="http://urn.fi/URN:ISBN:978-952-60-6106-1" target="_blank">Library</a>]
      [<a href="https://github.com/hongyusu/dissertation/blob/master/dissertation.pdf?raw=true" target="_blank">GitHub</a>]
      [<a href="/files/pubs/255031_Aalto_DD_028_2015_Hongyu_Su_vedos.pdf">Draft</a>]
      [<a href="https://github.com/hongyusu/Posters_and_Presentations/raw/master/Presentations/Defence_presentation_20150327/example.pdf" target="_blank">Slides</a>]
    </p>

    <h3>Conference Articles</h3>
    <ul>
      <li>
        Mario Marchand, Hongyu Su, Emilie Morvant, Juho Rousu, John Shawe-Taylor. <strong>Multilabel Structured Output Learning with Random Spanning Trees of Max-Margin Markov Networks</strong>. In <em>Advances in Neural Information Processing Systems 27 (<strong>NIPS 2014</strong>)</em>, 873&ndash;881.
        [<a href="/files/pubs/su14c.pdf">preprint</a>]
        [<a href="http://papers.nips.cc/paper/5382-multilabel-structured-output-learning-with-random-spanning-trees-of-max-margin-markov-networks" target="_blank">original</a>]
        [<a href="https://github.com/hongyusu/RTA" target="_blank">code</a>]
        [<a href="https://github.com/hongyusu/L2RTA" target="_blank">code (new inference)</a>]
      </li>
      <li>
        Su, Hongyu; Gionis, Aristides; Rousu, Juho. <strong>Structured Prediction of Network Response</strong>. In <em>Proceedings of the 31st International Conference on Machine Learning (<strong>ICML 2014</strong>)</em>, JMLR W&CP 32:442&ndash;450.
        [<a href="http://jmlr.org/proceedings/papers/v32/su14.pdf" target="_blank">original</a>]
        [<a href="https://github.com/hongyusu/SPIN" target="_blank">code</a>]
        [<a href="http://techtalks.tv/talks/structured-prediction-of-network-response/60915/" target="_blank">video</a>]
      </li>
      <li>
        Su, Hongyu; Rousu, Juho. <strong>Multilabel Classification through Random Graph Ensembles</strong>. In <em>Proceedings of the 5th Asian Conference on Machine Learning (<strong>ACML 2013</strong>)</em>, JMLR W&CP 29:404&ndash;418.
        [<a href="http://jmlr.org/proceedings/papers/v29/Su13.pdf" target="_blank">original</a>]
      </li>
      <li>
        Su, Hongyu; Rousu, Juho. <strong>Multi-task Drug Bioactivity Classification with Graph Labeling Ensembles</strong>. In <em>Proceedings of the 6th International Conference on Pattern Recognition in Bioinformatics (<strong>PRIB 2011</strong>)</em>, Springer LNCS 7035:157&ndash;167.
        [<a href="http://link.springer.com/chapter/10.1007%2F978-3-642-24855-9_14" target="_blank">original</a>]
        [<a href="https://github.com/hongyusu/molecular_classification" target="_blank">data</a>]
      </li>
      <li>
        Su, Hongyu; Heinonen, Markus; Rousu, Juho. <strong>Structured Output Prediction of Anti-cancer Drug Activity</strong>. In <em>Proceedings of the 5th International Conference on Pattern Recognition in Bioinformatics (<strong>PRIB 2010</strong>)</em>, Springer LNCS 6282:265&ndash;273.
        [<a href="http://link.springer.com/chapter/10.1007%2F978-3-642-16001-1_4" target="_blank">original</a>]
        [<a href="https://github.com/hongyusu/molecular_classification" target="_blank">data</a>]
      </li>
      <li>
        Dong, Anguo; Lin, Gao; Zhou, Xiaofeng; Su, Hongyu. <strong>An Algebra Approach for Finding Frequent Subgraphs with Hamiltonian Cycle</strong>. In <em>Proceedings of the 4th International Conference on Fuzzy Systems and Knowledge Discovery (<strong>FSDK 2007</strong>)</em>, IEEE Computer Society 3:288&ndash;292.
        [<a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=4406246&tag=1" target="_blank">original</a>]
      </li>
    </ul>

    <h3>Workshop Articles</h3>
    <ul>
      <li>
        Simon Cousins, John Shawe-Taylor, Mario Marchand, Juho Rousu, Hongyu Su. <strong>Multiple Kernel Learning for Prediction on Unknown Graph Structures.</strong> In <em>the 8th NIPS Workshop on Optimization for Machine Learning (OPT 2015) &mdash; <strong>NIPS 2015</strong></em>.
      </li>
      <li>
        Hongyu Su, Giorgio Valentini, Sandor Szedmak, Juho Rousu. <strong>Transporter Protein Classification through Structured Prediction and Multiple Kernel Learning</strong>. In <em>Workshops on MLCB & MLSB 2015 &mdash; <strong>NIPS 2015</strong></em>.
      </li>
      <li>
        Su, Hongyu; Gionis, Aristides; Rousu, Juho. <strong>Structured Prediction of Network Response</strong>. In <em>International Workshop on Multi-Target Prediction &mdash; <strong>ECML 2014</strong></em>.
      </li>
      <li>
        Su, Hongyu; Rousu, Juho. <strong>Random Graph Ensembles in Multilabel Classification</strong>. In <em>Object, Function and Structured Data: towards next Generation Kernel-Based Methods &mdash; <strong>ICML 2012</strong></em>.
        [<a href="https://sites.google.com/site/nextgenkernels/program" target="_blank">original</a>]
      </li>
      <li>
        Su, Hongyu; Rousu, Juho. <strong>Multilabel Classification via Random Graph Labeling</strong>. In <em><strong>AISTATS 2012</strong></em>.
        [<a href="https://sites.google.com/site/nextgenkernels/program" target="_blank">original</a>]
      </li>
      <li>
        Su, Hongyu; Heinonen, Markus; Rousu, Juho. <strong>Multilabel Prediction of Drug Activity</strong>. In <em>Proceedings of the 4th International Workshop on Machine Learning in Systems Biology (<strong>MLSB 2010</strong>)</em>, 67&ndash;70.
        [<a href="http://mlsb10.ijs.si/files/MLSB10-Proceedings.pdf" target="_blank">original</a>]
      </li>
      <li>
        Su, Hongyu; Heinonen, Markus; Rousu, Juho. <strong>Multilabel Classification of Drug-like Molecules via Max-margin Conditional Random Fields</strong>. In <em>Proceedings of the 5th European Workshop on Probabilistic Graphical Models (<strong>PGM 2010</strong>)</em>, HIIT 2010 publication 2:67&ndash;70.
        [<a href="http://www.helsinki.fi/pgm2010/pgm2010-proceedings.pdf" target="_blank">original</a>]
      </li>
    </ul>
  </div>

  <div class="content-section">
    <h2>Funding & Awards</h2>
    <ul>
      <li><strong>2014</strong> &mdash; Chinese Government Award for Outstanding Doctoral Students (top 500 worldwide)</li>
      <li><strong>2011</strong> &mdash; Fully funded position from Helsinki Doctoral Programme in Computer Science (HeCSE)</li>
      <li><strong>2010</strong> &mdash; Master thesis grant from Center of Excellence Grant 118653 ALGODAN</li>
      <li><strong>2008</strong> &mdash; International Master's Degree Student Award, University of Helsinki</li>
    </ul>
  </div>

  <div class="content-section">
    <h2>Academic Review</h2>
    <ul>
      <li>NIPS 2012, 2015, 2016</li>
      <li>IEEE Transactions on Knowledge and Data Engineering (TKDE)</li>
      <li>IEEE Transactions on Neural Networks and Learning Systems (TNNLS)</li>
      <li>International Conference on Web Search and Data Mining (WDSN 2013)</li>
    </ul>
  </div>

  <div class="content-section">
    <h2>Thesis Supervision</h2>
    <ul>
      <li><strong>2015</strong> &mdash; Community detection for large-scale metagenomics data, Aalto</li>
      <li><strong>2014</strong> &mdash; Graph kernels and multiple kernel learning for PPI prediction, Aalto</li>
      <li><strong>2012</strong> &mdash; Large-scale metagenomics data analysis, Aalto</li>
    </ul>
  </div>

  <div class="content-section">
    <h2>Teaching</h2>
    <ul>
      <li><strong>Spring 2015</strong> &mdash; Lecture in Special Course in Bioinformatics II, Aalto</li>
      <li><strong>Autumn 2014</strong> &mdash; Assistant in Research Project in Computer and Information Science, Aalto</li>
      <li><strong>Spring 2013</strong> &mdash; Lecture in Special Course in Computer and Information Science II, Aalto</li>
      <li><strong>Autumn 2013</strong> &mdash; Assistant in Research Project in Computer and Information Science, Aalto</li>
      <li><strong>Spring 2012</strong> &mdash; Assistant in Computational Methods of System Biology, University of Helsinki</li>
    </ul>
  </div>
</Base>
