---
const year = new Date().getFullYear();
---

<footer>
  <div>HEL/FIN</div>
  <div class="footer-time"></div>
  <div class="footer-links">
    <a href="https://github.com/hongyusu" target="_blank">GitHub</a>
    <a href="https://linkedin.com/in/hongyusu" target="_blank">LinkedIn</a>
    <a href="https://flickr.com/photos/123885344@N02/" target="_blank">Flickr</a>
  </div>
</footer>
